@import "colors";

$img-spacing: 40px;

.category {

    .links {

        display: flex;
        flex-direction: column;
        align-items: center;

        li.link {

            max-width: 95%;
            padding: 0;
            list-style: none;
            margin: 5px 0;

            &:last-child {
                margin-bottom: 20px;
            }

            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                width: 30em;
                max-width: 100%;
                min-height: 4em;
                padding: 0.5em 1em;
                border: 2px solid darken($color-dafic, 10%);
                border-radius: 50px;

                background-color: white;
                text-decoration: none;
                color: $color-dafic;



                &:hover,
                &:active,
                &:focus-visible {
                    color: darken($color-dafic, 20%);
                    text-decoration: underline;
                }

                &:visited {
                    color: $color-dafic;
                }

                .link-icon {
                    width: $img-spacing;
                    height: $img-spacing;
                    margin-right: 10px;
                }

                .link-text {
                    display: block;

                    width: 100%;
                    padding-right: 30px;
                    margin: 0 auto;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $color-dafic;
                    text-align: center;
                }

            }

        }

    }
}
#email img {
    width: 50px;
    height: 50px;
}

@media (max-width: 500px) {

    .category {

        .links {

            li.link {

                a {
                    .link-icon {
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                    }


                    .link-text {
                        padding-right: 25px;
                        font-size: 1rem;
                    }


                }

            }

        }

    }

}