<!DOCTYPE html>
<html lang="gl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Links da FIC - DAFIC">
    <meta property="og:description" content="Índice de enlaces de interés para los estudiantes de la FIC.">
    <meta property="og:image" content="https://dafic.org/links/assets/img/og_image.png">
	<title>Links | DAFIC</title>
	<link rel="icon" type="image/png" href="./assets/img/Logo_DAFIC_redondo.svg">
	<link rel="stylesheet" type="text/css" href="./assets/css/layout.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/links.css">
</head>

<body>
	<main id="links">
		<h1>Links da FIC</h1>
		<br>

		{% for category in data -%}
		<section class="category">
			<h2>{{ data[category].name }}</h2>
			<ul class="links">
				{% for link in data[category].links %}
				<li class="link">
					<a href="{{ link.url }}" target="_blank">
						<img class="link-icon" src="{{ link.icon }}" alt=" " draggable="false">
						<span class="link-text">{{ link.text }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</section>
		{% endfor %}

		<a href="#" id="email"><img src="./assets/img/icons/mail.svg" alt="Email Icon"  draggable="false"></a>
		<script src="./assets/js/protect_email.js"></script>

    </main>

	<footer>
		<img id="qrcode" src="./assets/img/qrcode.svg">
		<p>Made with ❤️ by <a href="https://github.com/danielfeitopin">Feito</a></p>
		<p>Powered by <a href="https://dafic.org">DAFIC</a></p>
		<p>2025</p>
		<a href="https://github.com/dafic-udc/links"><img src="./assets/img/icons/brand-github.svg" width="32px" alt="GitHub Logo"></a>
	</footer>

</body>

</html>
